@page "/consultantteam"

<h1 class="text-center lead">Microsoft Consultants</h1>
<br />


<div class="row">
    <div class="column">
        <img src="https://i.imgur.com/smx6DPL.jpg" class="card-img-top" alt="Kelvin picture">
        <div class="card-body">
            <h5 class="card-title">Kelvin Mbewe</h5>
            <p class="card-text">Modern Application Consultant</p>
            <a href="https://www.linkedin.com/in/kelvinmbewe/" target="_blank"
               class="btn btn-primary">LinkedIn</a>
        </div>
    </div>
    <div class="column">
        <img src="https://i.imgur.com/W3ILyUe.jpg" class="card-img-top" alt="Gr&Aacute;inne picture">
        <div class="card-body">
            <h5 class="card-title">Gráinne Meyer</h5>
            <p class="card-text">Modern Application Consultant</p>
            <a href="https://www.linkedin.com/in/gr%C3%A1inne-meyer-63a308210/" target="_blank"
               class="btn btn-primary">LinkedIn</a>
        </div>
    </div>
    <div class="column">
        <img src="https://i.imgur.com/m1EXsHC.jpg" class="card-img-top" alt="Shannon picture">
        <div class="card-body">
            <h5 class="card-title">Shannon McGuckin</h5>
            <p class="card-text">Modern Application Consultant</p>
            <a href="https://www.linkedin.com/in/shannon-mcguckin-923720151" target="_blank"
               class="btn btn-primary">LinkedIn</a>
        </div>
    </div>
    <div class="column">
        <img src="https://i.imgur.com/N0UXokY.jpg" class="card-img-top" alt="Caitlin picture">
        <div class="card-body">
            <h5 class="card-title">Caitlin O'Hara</h5>
            <p class="card-text">Modern Application Consultant</p>
            <a href="https://www.linkedin.com/in/caitlin-o-hara-ba7561184/" target="_blank"
               class="btn btn-primary">LinkedIn</a>
        </div>
    </div>
</div>




