@page "/datavisualisation"


<h1>Data Visualisation</h1>

@*Charts made using ggplot library in R*@

<img src="https://i.imgur.com/uFmGBnr.png" alt="Logo" class="imgvis">

<img src="https://i.imgur.com/tIpD18y.png" alt="Logo" class="imgvis">

<img src="https://i.imgur.com/3pMbDAx.png" alt="Logo" class="imgvis">

<img src="https://i.imgur.com/xouLbTg.png" alt="Logo" class="imgvis">

<img src="https://i.imgur.com/zRtI9QB.png" alt="Logo" class="imgvis">
