@inherits LayoutComponentBase

<div class="page">
    <div style="        background-image: linear-gradient(180deg, rgb(21 163 217) 0%, #0366d6 70%);
        background-color: cadetblue;" class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://bapteam01.me/" target="_blank">Suggested BAP Features</a>
            <a href="https://github.com/grainnem7/BapBlazor/" target="_blank">GitHub</a>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
