@inherits LayoutComponentBase

<div class="page">
    <div style="background-image: linear-gradient(180deg, rgb(5 35 116) 40%, #18869a 100%);
        background-color: cadetblue;" class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">

            <a href="https://bapproject.kelvinmbewe.repl.co/" target="_blank">Suggested BAP Features</a>
            <a href="https://github.com/grainnem7/BapBlazor/" target="_blank">GitHub</a>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
